   <!-- Header -->
   <header>
    <!-- Top header -->
    <div class="top-header">
      <div class="container d-flex justify-content-between">
        <!-- Logo -->
        <div class="logo">
          <img src="./assets/images/blue-logo.svg" alt="logo" />
        </div>
        <!-- Contact, language, auth buttons -->
        <div class="top-header-right">
          <!-- contact -->
          <div class="contact-info">
            <i class="icon-call transition-300"></i>
            <div>
              <a href="tel:+998712070033" class="fw-semibold text-black fs-5"
                >+998 71 207 00 33</a
              >
              <p>24/7 Qanday yordam kerak?</p>
            </div>
          </div>
          <div class="d-flex gap-5 align-items-center">
            <!-- lang -->
            <div class="dropdown custom-dropdown">
              <button
                class="dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img src="./assets/images/uz-flag.svg" alt="flag" />
                <span>UZ</span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#">
                    <img src="./assets/images/uz-flag.svg" alt="flag" />
                    <span>UZ</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <img src="./assets/images/ru-flag.svg" alt="flag" />
                    <span>РУ</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <img src="./assets/images/en-flag.svg" alt="flag" />
                    <span>EN</span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- auth buttons -->
            <div class="auth-buttons">
              <button class="main-outline-btn">
                <i class="icon-user"></i>
                Ro'yxatdan o'tish
              </button>
              <button class="main-btn">
                <i class="icon-login"></i>
                <span>Kirish</span>
              </button>
            </div>
          </div>
        </div>
        <!-- hamburger menu icon -->
        <button class="hamburger" id="hamburger">
          <i class="icon-menu"></i>
        </button>
      </div>
    </div>

    <!-- Bottom header -->
    <div class="bottom-header">
      <div class="container">
        <nav>
          <ul>
            <li><a href="#" class="active">Asosiy</a></li>
            <li><a href="#" class="">Savdolar</a></li>
            <li><a href="#" class="">Tovar</a></li>
            <li><a href="#" class="">Tizimdagi yangiliklar</a></li>
            <li><a href="#" class="">Bog'lanish uchun</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Mobile menu -->
    <div class="mobile-menu" id="mobile-menu">
      <div>
        <div class="mobile-menu_header">
          <!-- Logo -->
          <div class="logo">
            <img src="./assets/images/blue-logo.svg" alt="logo" />
          </div>
          <i class="icon-x-close" id="close"></i>
        </div>
        <hr />
        <div class="mobile-menu_body">
          <ul>
            <li><a href="#" class="active">Asosiy</a></li>
            <li><a href="#" class="">Savdolar</a></li>
            <li><a href="#" class="">Tovar</a></li>
            <li><a href="#" class="">Tizimdagi yangiliklar</a></li>
            <li><a href="#" class="">Bog'lanish uchun</a></li>
          </ul>
          <hr />
          <!-- auth buttons -->
          <div class="mobile_auth__buttons">
            <button class="main-outline-btn">
              <i class="icon-user"></i>
              Ro'yxatdan o'tish
            </button>
            <button class="main-btn">
              <i class="icon-login"></i>
              <span>Kirish</span>
            </button>
          </div>
        </div>
      </div>
      <div class="mobile-menu_footer">
        <!-- contact -->
        <div class="contact-info">
          <i class="icon-call transition-300"></i>
          <div>
            <a href="tel:+998712070033" class="fw-semibold text-black fs-5"
              >+998 71 207 00 33</a
            >
            <p>24/7 Qanday yordam kerak?</p>
          </div>
        </div>
        <ul class="mobile_lang__wrapper">
          <li>
            <a class="mobile_lang active" href="#">
              <img src="./assets/images/uz-flag.svg" alt="flag" />
              <span>UZ</span>
            </a>
          </li>
          <li>
            <a class="mobile_lang" href="#">
              <img src="./assets/images/ru-flag.svg" alt="flag" />
              <span>РУ</span>
            </a>
          </li>
          <li>
            <a class="mobile_lang" href="#">
              <img src="./assets/images/en-flag.svg" alt="flag" />
              <span>EN</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
