<app-breadcrumb [pageName]="[{ name: 'Cabinet.MyDeals' }]"></app-breadcrumb>

<div class="right_sidebar__body py-4 px-5">
  <div class="d-flex gap-4">
    <div class="col-lg-12">
      <loading *ngIf="loadingDeals"></loading>
      <section>
        <div class="section-header d-flex align-items-center justify-content-between flex-wrap-reverse gap-4">
          <form>
            <select class="form-select" *ngIf="false">
              <option selected>Filialni tanlang</option>
              <option value="1">Toshkent</option>
              <option value="2">Buxoro</option>
              <option value="3">Samarqand</option>
            </select>
          </form>
          <div class="d-flex gap-2 align-items-center">
            <!-- search input group -->
            <form class="d-flex align-items-center">
              <input
                type="text"
                class="form-control"
                [placeholder]="'Common.Search' | translate"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
              <button class="btn btn-primary d-flex align-items-center gap-1" id="basic-addon1">
                <i class="icon-search"></i>
                <span>
                  {{ 'Common.Search' | translate }}
                </span>
              </button>
            </form>
            <!-- offcanvas -->
            <button
              type="button"
              class="btn btn-light border border-2 bg-transparent d-flex align-items-center justify-content-center gap-2"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasProductFilter"
              aria-controls="offcanvasProductFilter"
            >
              <i class="icon-filter"></i>
              <span>{{ 'Common.Filter' | translate }}</span>
            </button>
            <i class="icon-refresh btn btn-light border border-2 bg-transparent p-2"></i>
            <div
              class="offcanvas offcanvas-end"
              tabindex="-1"
              id="offcanvasProductFilter"
              aria-labelledby="offcanvasProductFilterLabel"
            >
              <app-cabinet-filter
                [items]="filterSections"
                (resetFilter)="reset()"
                (searchByFilter)="loadDeals()"
                [filterModel]="filter"
              ></app-cabinet-filter>
            </div>
          </div>
        </div>
        <div class="section-body my-4">
          <!-- table -->
          <div class="table-wrapper mb-4">
            <table class="table table-hover border table-striped">
              <thead class="table-header-sticky">
                <tr>
                  <th scope="col">{{ 'Shop.Customer.MyLots.LotNumber' | translate }}</th>
                  <th scope="col">{{ 'Shop.Customer.MyDeals.DealNumber' | translate }}</th>
                  <th scope="col">{{ 'Shop.Customer.MyDeals.DealDate' | translate }}</th>
                  <th scope="col">{{ 'Shop.Customer.MyDeals.Date' | translate }}</th>
                  <th scope="col">{{ 'Shop.Customer.MyDeals.Product' | translate }}</th>
                  <th scope="col">{{ 'Shop.Customer.MyDeals.SellerName' | translate }}</th>
                  <th scope="col">{{ 'Shop.Customer.MyDeals.SellerInn' | translate }}</th>
                  <th scope="col">{{ 'Shop.Customer.MyDeals.Amount' | translate }}</th>
                  <th scope="col">{{ 'Common.ProductProperties' | translate }}</th>
                  <th scope="col">{{ 'Shop.Customer.MyDeals.DealSum' | translate }}</th>
                  <th *ngIf="statusName === 'new'">{{ 'Trade.NeedToPay' | translate }}</th>
                  <th *ngIf="statusName === 'terminated'">{{ 'Shop.Customer.MyDeals.ReasonTermination' | translate }}</th>
                  <th *ngIf="statusName === 'terminated'">{{ 'Common.Penalty' | translate }}</th>
                  <th class="action-table-th">{{ 'Common.Actions' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of deals"
                  [ngClass]="{
                    'tr-red': item.deadline_color_status === 'Red',
                    'tr-yellow': item.deadline_color_status === 'Yellow'
                  }"
                >
                  <td class="text-nowrap">
                    <span class="display_no" (click)="toLot(item.lot_id)">{{ item.lot_display_no }}</span
                    ><br />
                  </td>
                  <td class="text-nowrap">
                    <span>{{ item.id }}</span>
                  </td>
                  <td class="text-nowrap">
                    <span class="display_no">
                      {{ item.date_ini | dateformat: 'dd.MM.yyyy' }}
                    </span>
                  </td>
                  <td class="text-nowrap">
                    <div class="deal-status">
                      <span *ngIf="item.status_id == dealStatus.Paid" class="published">
                        {{ item.status_name }}
                      </span>
                      <span *ngIf="item.status_id == dealStatus.New" class="new">
                        {{ item.status_name }}
                      </span>
                      <div
                        *ngIf="
                          item.status_id == dealStatus.New && (item.is_kazna_error === 1 || item.is_payment_error === 1)
                        "
                        class="mt-2 text-center mb-2"
                      ></div>
                      <div *ngIf="item.status_id == dealStatus.Delivered" class="deal-status-text deal-primary">
                        {{ item.status_name }}
                      </div>
                      <div *ngIf="item.status_id == dealStatus.Terminated" class="deal-status-text deal-error">
                        {{ item.status_name }}
                      </div>
                      <div *ngIf="item.status_id == dealStatus.Restored" class="deal-status-text deal-active">
                        {{ item.status_name }}
                      </div>
                    </div>
                    <div *ngIf="item.status_id == dealStatus.New">
                      <span class="text-muted"> {{ 'Shop.Provider.MyDeals.PayDeadline' | translate }}: </span>
                      {{ item.deadline | dateformat: 'dd.MM.yyyy HH:mm' }}
                    </div>
                    <div *ngIf="item.status_id == dealStatus.Paid">
                      <span class="text-muted"> {{ 'Shop.Provider.MyDeals.DelivDeadline' | translate }}: </span>
                      {{ item.deadline | dateformat: 'dd.MM.yyyy HH:mm' }} <br />
                      <span class="text-muted"> {{ 'Shop.Provider.MyDeals.PayDate' | translate }}: </span>
                      {{ item.payment_date | dateformat: 'dd.MM.yyyy HH:mm' }}
                    </div>

                    <div *ngIf="item.status_id == dealStatus.Delivered">
                      <span class="text-muted"> {{ 'Shop.Provider.MyDeals.DelivDate' | translate }}: </span>
                      {{ item.delivery_date | dateformat: 'dd.MM.yyyy HH:mm' }} <br />
                      <span class="text-muted"> {{ 'Shop.Provider.MyDeals.PayDate' | translate }}: </span>
                      {{ item.payment_date | dateformat: 'dd.MM.yyyy HH:mm' }}
                    </div>

                    <div *ngIf="item.status_id == dealStatus.Terminated">
                      <span class="text-muted"> {{ 'Shop.Provider.MyDeals.RecovDeadline' | translate }}: </span>
                      {{ item.deadline | dateformat: 'dd.MM.yyyy HH:mm' }}
                      <span class="text-muted"> {{ 'Shop.Provider.MyDeals.PayDate' | translate }}: </span>
                      {{ item.payment_date | dateformat: 'dd.MM.yyyy HH:mm' }}
                      <span class="text-muted"> {{ 'Shop.Provider.MyDeals.DelivDate' | translate }}: </span>
                      {{ item.delivery_date | dateformat: 'dd.MM.yyyy HH:mm' }}
                      <br />
                      <span class="text-muted"> {{ 'Shop.Provider.MyDeals.DestroyDate' | translate }}: </span>
                      {{ item.terminate_date | dateformat: 'dd.MM.yyyy HH:mm' }}
                      <br />
                    </div>
                    <div *ngIf="item.status_id == dealStatus.Restored">
                      <span class="text-muted"> {{ 'Shop.Provider.MyDeals.RecovDeadline' | translate }}: </span>
                      {{ item.restore_date | dateformat: 'dd.MM.yyyy HH:mm' }}
                    </div>
                  </td>
                  <td class="text-nowrap">{{ item.product_name }}</td>
                  <td class="text-nowrap">{{ item.provider_name }}</td>
                  <td class="text-nowrap">{{ item.provider_inn }}</td>
                  <td class="text-nowrap">
                    {{ item.amount }}
                    <span *ngIf="item.js_properties && item.js_properties.length > 0" class="text-success">
                      {{ item.js_properties[0].user_value }}
                    </span>
                  </td>
                  <td class="text-nowrap">
                    <div *ngFor="let property of item.js_properties; index as idx">
                      <ng-container *ngIf="idx !== 0">
                        <span class="text-muted">{{ property.property_name }}: </span>
                        <span>{{ property.user_value }}</span
                        ><br />
                      </ng-container>
                    </div>
                  </td>
                  <td class="text-nowrap">
                    {{ item.cost | numberFormat }}
                    <span class="text-muted">
                      {{ item.currency_name ? item.currency_name : 'UZS' }}
                    </span>
                  </td>
                  <td class="text-nowrap" *ngIf="statusName === 'new'">
                    {{ item.rest_payment | numberFormat: ' ':'symbol':'1.2-2' }}
                    <span class="text-muted">
                      {{ item.currency_name }}
                    </span>
                  </td>
                  <td class="text-nowrap" *ngIf="statusName === 'terminated'">
                    {{ item.reason_name }}
                  </td>
                  <td class="text-nowrap" *ngIf="statusName === 'terminated'">
                    {{ item.penalty_id === 1 ? 'Штраф с заказчика' : '' }}
                    {{ item.penalty_id === 2 ? 'Без штрафа' : '' }}
                    {{ item.penalty_id === 3 ? 'Штраф с поставщика' : '' }}
                  </td>
                  <td class="text-nowrap">
                    <div class="dropdown dropleft dropdown-action-menu dropdown-left-style">
                      <button class="btn" type="button">
                        <span class="icon-menu"></span>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="">
                        <a class="dropdown-item" (click)="toLot(item.lot_id)">
                          {{ 'Common.Details' | translate }}
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Not Found -->
          <div *ngIf="(!deals || deals.length == 0) && !loadingDeals" class="d-flex justify-content-center">
            {{ 'Common.DataNotFound' | translate }}
          </div>
          <!-- pagination -->
          <div class="d-flex justify-content-between" *ngIf="deals && deals.length > 0">
            <pagination
              [boundaryLinks]="true"
              [totalItems]="maxCount"
              [maxSize]="size"
              [itemsPerPage]="pageItemCount"
              (pageChanged)="onPageChange($event)"
              [(ngModel)]="page"
              previousText="&lsaquo;"
              nextText="&rsaquo;"
              firstText="&laquo;"
              lastText="&raquo;"
            >
            </pagination>

            <div class="d-flex align-items-center gap-2">
              <div class="listing__header__pagination__label">
                {{ maxCount > 0 ? (page - 1) * pageItemCount + 1 : 0 }} -
                {{ maxCount > page * pageItemCount ? page * pageItemCount : maxCount }} of {{ maxCount }}
              </div>
              <div class="form-group mb-0">
                <ng-select
                  [items]="limitItems"
                  [clearable]="false"
                  bindLabel="name"
                  bindValue="value"
                  [(ngModel)]="pageItemCount"
                  (change)="onLimitsChange($event)"
                >
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

