@import url("./variables.css");
@import url("../fonts/fonts.css");
@import url("./icomoon/style.css");
@import url("../styles/main.css");

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    margin: 10px 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.transition-300 {
    transition: all 0.3s ease;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-bottom-header {
    background-color: var(--bg-bottom-header);
}

.custom__min_height {
    min-height: calc(100vh - 164px - 616px - 135px);
}

.bg-blue-100 {
    background-color: #b2ddff;
}

.main-btn {
    padding: 8px 20px;
    color: white;
    background-color: var(--main-blue);
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid var(--main-blue);
    line-height: 24px;
}

.main-outline-btn {
    padding: 8px 20px;
    background-color: transparent;
    color: var(--main-blue);
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid var(--main-blue);
    line-height: 24px;
}

.main-outline-btn:hover {
    background-color: var(--main-blue);
    color: white;
}

.main-btn:hover {
    background-color: #253e63;
}

img[alt="flag"] {
    width: 20px;
    border-radius: 5px;
}

main {
    background-color: var(--bg-main);
}

.custom-dropdown button {
    border: 1px solid rgb(176, 176, 176);
    background-color: transparent;
    border-radius: 8px;
    padding: 8px 12px;
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 16px;
}

.title__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.title_text {
    border: 1px solid var(--main-blue);
    padding: 21px 39px;
    box-sizing: border-box;
    border-radius: 38px;
    color: var(--main-blue);
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    flex: 1 1 0%;
}

.title_line {
    height: 1px;
    flex: 1 1 0%;
    background-color: var(--main-blue);
}

.custom_section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.load_more {
    margin: 0 auto;
    display: flex;
}

/* Offcanvas styles */

.offcanvas-header {
    display: flex;
    align-items: center;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    justify-content: space-between;
}

.offcanvas-header .icon-cancel-circle {
    font-size: 40px;
    color: var(--bs-red);
    cursor: pointer;
}

.offcanvas-body {
    min-height: calc(100vh - 87px - 72px);
}

.filter_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.filter_form .inputs_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.filter_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    border-top: 1px solid var(--gray-300);
    border-top-width: 100%;
    padding: 24px;
}

.filter_buttons button {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display_no {
    border: 1px solid var(--blue-600);
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    color: var(--blue-600);
    cursor: pointer;
}

.end_date {
    border: 1px solid red;
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    color: red;
    cursor: pointer;
}

.invite_date {
    border: 1px solid var(--gray-500);
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    color: var(--gray-500);
    cursor: pointer;
}

/* latest products */


.products_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.product-item {
    background-color: #fff;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-item:hover {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.038);
}

.product-item img {
    border-radius: 10px;
    width: 100%;
    height: 283px;
    object-fit: contain;
}

.product_number {
    display: inline-block;
    color: var(--main-blue);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 4px 10px;
    box-sizing: border-box;
    border: 1px solid #b0b0b0;
    border-radius: 15px;
}

.product-item-body h4 {
    color: var(--main-blue);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.quantity_number {
    color: var(--main-blue);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    padding: 4px 10px;
    border: 1px solid var(--main-blue);
    border-radius: 15px;
}

.price_amount {
    color: var(--main-blue);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1360px;
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 1199.98px) {

    /* Last products section */
    .products_wrapper {
        gap: 20px;
    }

    .product-item img {
        height: 220px;
    }

    .product-item-body h4 {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        height: 1.6em;
        line-height: 1.6em;
        width: 100%;
    }
}

@media (max-width: 991.98px) {

    /* Last products section */
    .products_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767.98px) {

    /* Last products section */
    .products_wrapper {
        grid-template-columns: 1fr;
        place-items: center;
    }

    .product-item {
        max-width: 400px;
        width: 100%;
    }
}