<!-- Footer -->
<footer class="bg-bottom-header">
  <div class="container">
    <!-- first row -->
    <div class="first-row">
      <div class="row-left">
        <p>Vakolatli organ : O'zbekiston Respublikasi Iqtisodiyot va moliya vazirligi</p>
        <p>Manzil: 100017 O'zbekiston Respublikasi, Toshkent sh. , Istiqlol ko'chasi 29-uy</p>
        <p>Telefon: <a href="tel:+998712035050">(71) 203-50-50</a></p>
        <p>E-mail: <a href="mailto:info@mf.uz">info&#64;mf.uz</a></p>
        <p>
          E-xat: Vazirlik va idoralar uchun
          <a href="mailto: mf@exat.uz"> mf&#64;exat.uz</a>
        </p>
        <p><a href="#" class="custom_link">Termin va atamalar</a></p>
        <p><a href="#" class="custom_link">Mahfiylik siyosati</a></p>
        <p><a href="#" class="custom_link">Mahfiylik siyosati</a></p>
      </div>
      <div class="row-right">
        <p>Operator: “O'zbekiston respublika tovar-xom ashyo birjasi” aksiyadorlik jamiyati</p>
        <p>Manzil: 100090, O'zbekiston Respublikasi, Toshkent sh., Bobur ko'chasi, 77</p>
        <p>Call-Center: <a href="tel:+998712070033">71-207-00-33</a></p>
        <p>E-mail: <a href="mailto:info@rtsb.uz">info&#64;rtsb.uz</a></p>
      </div>
    </div>
    <hr />
    <!-- second row -->
    <div class="second-row">
      <div class="row-left">
        <h5>Korporativ buyurtmachilar va ishtirokchilar uchun rekvizitlar</h5>
        <p>STIR 200933985</p>
        <p>Hisob raqam: 20208000000600257003</p>
        <p>MFO 00980 Bank 'Octobank' AJ ('Ravnaq-bank' AJ)</p>
      </div>
      <div class="row-right">
        <h5>Budjet buyurtmachilari uchun rekvizitlar</h5>
        <p>
          Vositalik yig'imi to'lash uchun hisobvaraq:
          <br />
          700110860262877950600262006
        </p>
        <p>
          Shartnoma bo'yicha to'lov uchun hisobvaraq:
          <br />
          700110860262877950600262007
        </p>
      </div>
    </div>
    <!-- third row -->
    <div class="third-row">
      <div class="third-row_logo-media">
        <img src="./assets/images/white-logo.svg" alt="logo" class="cursor-pointer" />
        <div class="social-media">
          <i class="icon icon-facebook"></i>
          <i class="icon icon-instagram"></i>
          <i class="icon icon-youtube"></i>
        </div>
      </div>
      <div class="copyright">Copyright © 2020-2025. Barcha huquqlar himoyalangan.</div>
    </div>
  </div>
</footer>
