<!-- Footer -->
<footer class="bg-bottom-header">
  <div class="container">
    <!-- first row -->
    <div class="first-row">
      <div class="row-left">
        <p>
          <strong> {{ 'Common.AuthorizedBody' | translate }} </strong>{{ 'Common.AuthorizedBodyInfo' | translate }}
        </p>
        <p>
          <strong>{{ 'Common.Address' | translate }} </strong> {{ 'Common.AddressInfo' | translate }}
        </p>
        <p>
          <strong> {{ 'Common.phone' | translate }} </strong>
          <a class="hover-orange" href="tel:+998712035050"> (71) 203-50-50</a>
        </p>
        <p><strong> E-mail: </strong> <a class="hover-orange" href="mailto:info@mf.uz">info&commat;mf.uz</a></p>
        <p>
          {{ 'Common.email' | translate }}
          <a class="hover-orange" href="mailto: mf@exat.uz"> mf&commat;exat.uz</a>
        </p>
        <p>
          <a href="#" class="custom_link">{{ 'Common.termDisc' | translate }} </a>
        </p>
        <p>
          <a href="#" class="custom_link">{{ 'Common.termDisc1' | translate }}</a>
        </p>
      </div>
      <div class="row-right">
        <p>
          <strong>{{ 'Common.operator' | translate }} </strong>{{ 'Common.operatorINfo' | translate }}
        </p>
        <p>
          <strong>{{ 'Common.address' | translate }} </strong> {{ 'Common.addressInfo' | translate }}
        </p>
        <p><strong>Call-Center: </strong> <a class="hover-orange" href="tel:+998712070033">71-207-00-33</a></p>
        <p><strong>E-mail: </strong> <a class="hover-orange" href="mailto:info@rtsb.uz">info&commat;rtsb.uz</a></p>
      </div>
    </div>
    <hr />
    <!-- second row -->
    <div class="second-row">
      <div class="row-left">
        <h5>{{ 'Common.DetailsForCorporate' | translate }}</h5>
        <p>
          <strong>{{ 'Common.Inn' | translate }}: </strong> 200933985
        </p>
        <p>
          <strong>{{ 'Common.BankAcc' | translate }}</strong
          >: 20208000000600257003
        </p>
        <p>{{ 'Common.bankInfo' | translate }}</p>
      </div>
      <div class="row-right">
        <h5>{{ 'Common.InvoicePayment' | translate }}</h5>
        <p>
          <strong>{{ 'Common.RequirementsBudgetCustomers' | translate }}:</strong>
          <br />
          700110860262877950600262006
        </p>
        <p>
          <strong> {{ 'Common.RequirementsPay' | translate }}: </strong>
          <br />
          700110860262877950600262007
        </p>
      </div>
    </div>
    <!-- third row -->
    <div class="third-row">
      <div class="third-row_logo-media">
        <img src="./assets/images/white-logo.svg" alt="logo" class="cursor-pointer" />
        <div class="social-media">
          <i class="icon icon-facebook"></i>
          <i class="icon icon-instagram"></i>
          <i class="icon icon-youtube"></i>
        </div>
      </div>
    </div>
    <div class="copyright">Copyright © 2020-2025. Barcha huquqlar himoyalangan.</div>
  </div>
</footer>
