<div class="right_header">
  <nav class="container" aria-label=" breadcrumb">
    <ol class="breadcrumb py-5">
      <li class="breadcrumb-item">
        <a routerLink="/" class="mr-8 text-muted">{{ 'Common.HomePage' | translate }}</a>
        <!-- <i class="fa fa-angle-right" aria-hidden="true"></i> -->
      </li>
      <ng-container *ngFor="let item of pageNames">
        <li class="breadcrumb-item">
          <a class="mr-8 text-dark">{{ item.name | translate }}</a>
        </li>
      </ng-container>
    </ol>
  </nav>
</div>
